.address {
  @include vp-767 {
    padding: 65px 15px;
  }

  @include vp-1023 {
    padding: 100px 45px;
  }

  padding: 120px 103px;
}

.address__wrapper {
  @include vp-767 {
    flex-direction: column;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.address__map {
  @include vp-767 {
    order: 2;
  }

  order: 0;
  background-image: url("../img/map.webp");
  width: 100%;
  height: 306px;
  background-repeat: no-repeat;
  background-size: cover;
}

.address__description {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 45px;
}

.address__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.address__link-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}

.address__link-wrap:last-of-type {
  margin-bottom: 0;
}
