.advantages {
  @include vp-767 {
    background-image: url("../img/background-adventages-mobile.webp");
    padding-bottom: 65px;
    padding-top: 56px;
    gap: 32px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include vp-1023 {
    background-image: url("../img/background-adventages-tablet.webp");
    padding-top: 89px;
    padding-bottom: 100px;
    gap: 48px;
  }

  background-image: url("../img/background-adventages.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 111px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
  padding-left: 40px;
  padding-right: 40px;
}

.advantages__item svg {
  @include vp-1023 {
    width: 22px;
  }

  fill: #011c40;
}

.advantages__list {
  @include vp-767 {
    gap: 30px;
  }

  @include vp-1023 {
    justify-content: center;
    gap: 30px;
  }

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__title {
  @include vp-767 {
    font-size: 24px;
  }

  @include vp-1023 {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
  }

  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;
  color: #011c40;
  margin: 0 auto;
}

.advantages__item {
  @include vp-767 {
    padding: 20px;
    max-width: 100%;
  }

  @include vp-1023 {
    max-width: 30%;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  max-width: 28%;
  background-color: $color-alice-blue;
  padding-top: 30px;
  padding-bottom: 46px;
  padding-left: 30px;
  padding-right: 30px;
}

.advantages__item h3 {
  @include vp-767 {
    margin-right: 51px;
    margin-top: 11px;
    margin-bottom: 8px;
  }

  @include vp-1023 {
    line-height: 1.4;
    margin-top: 7px;
    margin-bottom: 9px;
  }

  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 10px;
}

.advantages__item p {
  @include vp-1023 {
    line-height: 20px;
  }

  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.advantages__item--different {
  @include vp-1023 {
    padding: 25px 17px 20px 20px;
  }
}

.advantages__item--different h3 {
  @include vp-1023 {
    margin-bottom: 19px;
  }
}

.advantages__item--different svg {
  @include vp-1023 {
    width: 36px;
  }
}
