.checkbox input {
  @include vp-767 {
    width: 20px;
    height: 20px;
    margin-right: 0;
  }

  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: none;
  border: none;
}

.checkbox label {
  @include vp-767 {
    gap: 7px;
  }

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  letter-spacing: 0.04rem;
  gap: 5px;
  cursor: pointer;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
  color: $color-alice-blue;
}

.checkbox:hover span {
  color: $color-saffron-hover;
}

.checkbox:hover input {
  outline: 2px solid $color-saffron-hover;
}

.checkbox .form__error {
  position: absolute;
  top: 20px;
  left: 0;
}
