.form {
  @include vp-767 {
    padding-right: 0;
  }

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 3px;
}

.form__input-wrapper input {
  width: 100%;
  padding: 11px;
  border: none;
  padding-left: 16px;

  &:hover {
    outline: 5px solid $color-saffron-hover;
    border: none;
  }

  &:focus {
    outline: 5px solid $color-saffron-hover;
    border: none;
  }

  &:active {
    outline: 5px solid $color-saffron-hover;
    border: none;
  }
}

.form__input-wrapper {
  width: 100%;
  position: relative;
}

.form__input-wrapper input::placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(1, 28, 64, 0.7);
}

.form button {
  @include vp-767 {
    margin-top: 5px;
  }

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #011c40;
  border: none;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    background-color: $color-saffron-hover;
  }

  &:active {
    background-color: $color-blue-active;
    color: $color-default-white;
  }
}

.form__input-wrapper span {
  position: absolute;
  color: $color-saffron-hover;
  top: 0;
  right: 0;
  font-size: 12px;
}

.form__input-wrapper input:valid {
  outline: 3px solid #008000;
  border-radius: 2px;
}
