.header {
  @include vp-767 {
    padding-left: 15px;
    padding-right: 9px;
    padding-top: 11px;
    background-image: url("../img/backgroundmobile.webp");

    @include retina {
      background-image: url("../img/backgroundmobile@2.webp");
    }
  }

  @include vp-1023 {
    padding-left: 45px;
    padding-right: 35px;
    padding-top: 21px;
    background-image: url("../img/backgroundtablet.webp");

    @include retina {
      background-image: url("../img/backgroundtablet@2.webp");
    }
  }

  background-color: #004f8e;
  background-image: url("../img/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-top: 35px;
  padding-left: 103px;
  padding-right: 95px;
  flex-shrink: 0;
  flex-grow: 0;

  @include retina {
    background-image: url("../img/background@2.webp");
  }
}

.header__wrapper {
  @include vp-767 {
    align-items: flex-start;
    min-height: 113px;
  }

  display: flex;
  justify-content: space-between;
  width: 100%;

  @include max-width;
}

.header__button {
  @include vp-767 {
    display: block;
    border: none;
    background-color: inherit;
    padding-top: 10px;
  }

  display: none;
  cursor: pointer;
}

.header__button-icon--cross {
  display: none;
}

.header--opened .navigation--header {
  display: block;
}

.header--opened .header__button-icon--cross {
  display: block;
}

.header--opened .header__button {
  position: absolute;
  top: 14px;
  right: 8px;
  z-index: 2;
}

.header--opened .header__button-icon--menu {
  display: none;
}

.header--opened .header__logo {
  @include vp-767 {
    position: absolute;
    top: 11px;
    left: 50px;
    z-index: 2;
  }
}

.header--opened .logo__img {
  @include vp-767 {
    fill: $color-tangaroa;
  }
}

.header--opened .navigation__link {
  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: #011c40;
    padding: 10px;

    &:hover {
      color: $color-saffron-hover;
    }
  }
}

.header--opened .navigation__list {
  @include vp-767 {
    flex-direction: column;
    gap: 9px;
  }
}

.header__cover-js {
  display: none;
}

.header--opened .header__cover-js {
  @include vp-767 {
    display: block;
    position: fixed;
    background-color: #002a66;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
  }
  display: none;
}
