.header {
  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
  }

  @include vp-1023 {
    padding-left: 45px;
    padding-right: 35px;
    padding-top: 21px;
  }

  margin: 0;
  padding-top: 35px;
  padding-left: 103px;
  padding-right: 95px;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}

.header__wrapper {
  @include vp-767 {
    align-items: center;
  }

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__check {
  opacity: 0;
  position: absolute;
}

.header__button {
  @include vp-767 {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
  }

  display: none;
}

.header__button > span,
.header__button > span::before,
.header__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $color-default-white;
  transition-duration: 0.25s;
}

.header__button > span::before {
  content: "";
  top: -8px;
}

.header__button > span::after {
  content: "";
  top: 8px;
}

.header__check:checked ~ .header__button > span {
  transform: rotate(45deg);
}

.header__check:checked ~ .header__button > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #011c40;
}

.header__check:checked ~ .header__button > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #011c40;
}

.header__check:checked ~ .navigation {
  display: block;
}

//todo логотип меняет цвет, убрать реализацию css

.header__menu-wrap {
  padding-top: 5px;
}

.header__background {
  @include vp-767 {
    background-image: url("../img/backgroundmobile.webp");
  }

  @include vp-1023 {
    background-image: url("../img/backgroundtablet.webp");
  }

  background-image: url("../img/background.webp");
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  // min-height: 650px;
}
