.main {
  flex-grow: 1;
}

.main__background {
  @include vp-767 {
    background-image: url("../img/backgroundmobile.webp");
    min-height: 500px;
  }

  @include vp-1023 {
    background-image: url("../img/backgroundtablet.webp");
    min-height: 638px;
  }

  background-image: url("../img/background.webp");
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 650px;
}
