.navigation {
  @include vp-767 {
    display: flex;
  }
}

.navigation--header {
  @include vp-767 {
    display: none;
    position: absolute;
    background-color: $color-default-white;
    top: 0;
    left: 0;
    right: 0;
    transition-duration: 0.25s;
    margin-left: 35px;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 308px;
  }
}

.navigation__list {
  @include vp-1023 {
    gap: 4px;
  }

  list-style: none;
  display: flex;
  gap: 13px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navigation__link {
  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
    gap: 23px;
  }

  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: $color-default-white;
  padding: 10px;
}

.navigation__item {
  transition-duration: 0.25s;
}

.navigation--header .navigation__list {
  @include vp-767 {
    flex-direction: column;
    padding-top: 82px;
    gap: 23px;
  }
}

.navigation--header .navigation__link {
  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: #011c40;
    padding: 10px;

    &:hover {
      color: $color-saffron-hover;
    }
  }
}

.navigation--footer .navigation__list {
  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.navigation--footer {
  @include vp-767 {
    margin-top: 20px;
    margin-bottom: 23px;
  }

  @include vp-1023 {
    margin-top: 2px;
  }

  margin-top: 0;
  margin-bottom: 0;
}

.navigation--footer .navigation__link {
  @include vp-767 {
    padding-left: 0;
  }

  @include vp-1023 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}

.navigation__link:active {
  color: $color-blue-active;
}

.navigation__link:hover {
  color: $color-saffron-hover;
}
