.nojs .navigation--header {
  display: flex;
  position: relative;
  background-color: inherit;
}

.nojs .header__button {
  display: none;
}

.nojs .navigation__link {
  color: $color-alice-blue;
  padding-left: 0;
}
